
#vacansies {
  height: 580px;
  margin: 30px 0;
  padding: 30px 0;
  .items {
    height: 380px;
    margin-top: 25px;
    .item {
      display: flex;
      justify-content: center;

      .wrap-cart {
        border: solid 4px $black;
        width: 360px;
        height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 0;
        align-items: center;
        .title-cart {
          p {
            font-size: 26px;
          }
        }
        .icon-cart {

        }
        .footer-cart {
          width: 100%;
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          padding: 0 25px;
          .date-vacansie {
            p {
              font-size: 18px;
              font-family: $OpenSansSemibold;
            }
          }
        }
      }
    }
  }
}