//color
$white: #ffffff;
$black: #000000;
$pink: #f08265;
$orange: #d15d3e;
$blue: #447d98;
$blueLight: #6b9eb6;
$blueDark: #1e343f;
$gray: #68747a;
$bgHead: #13161d;

$duration: 0.5;
$easing: ease-in-out;

//fonts
$OpenSansLight : 'OpenSansLight', sans-serif;
$OpenSansSemibold : 'OpenSansSemiBold', sans-serif;
$OpenSansExtra-Bold : 'OpenSansExtraBold', sans-serif;