@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSansLight/OpenSansLight.eot');
  src: url('../fonts/OpenSansLight/OpenSansLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSansLight/OpenSansLight.woff') format('woff'),
  url('../fonts/OpenSansLight/OpenSansLight.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('../fonts/OpenSansSemiBold/OpenSansSemiBold.eot');
  src: url('../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSansSemiBold/OpenSansSemiBold.woff') format('woff'),
  url('../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansExtraBold';
  src: url('../fonts/OpenSansExtraBold/OpenSansExtraBold.eot');
  src: url('../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSansExtraBold/OpenSansExtraBold.woff') format('woff'),
  url('../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}